[submodule "russian-ai-cup-visual"]
	path = russian-ai-cup-visual
	url = git@github.com:JustAMan/russian-ai-cup-visual.git
[submodule "local-runner-ru"]
	path = local-runner-ru
	url = git@github.com:Russian-AI-Cup-2016/local-runner-ru.git
[submodule "python3-cgdk-origin"]
	path = python3-cgdk-origin
	url = git@github.com:Russian-AI-Cup-2016/python3-cgdk.git
[submodule "cpp-cgdk-origin"]
	path = cpp-cgdk-origin
	url = git@github.com:Russian-AI-Cup-2016/cpp-cgdk.git
[submodule "newuoa-cpp"]
	path = newuoa-cpp
	url = git@github.com:elsid/newuoa-cpp.git
[submodule "googletest"]
	path = googletest
	url = git@github.com:google/googletest.git
